body {
  background-color: #6b405f;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 16px;
  background: #f89add;
  font-size: 20px;
  transition: 0.2s;
  margin-left: -40px;
  border: #000000 2px solid;
}

ul li:hover {
  background: #000000;
  color: #f89add;
}

ul li.checked {
  background: #000000;
  color: #8b557c;
  text-decoration: line-through;
}

li {
  margin-top: 12px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
}

.edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
  margin-right: 40px;
  transform: rotate(360deg) scaleX(-1);
}

.close:hover {
  font-size: 32px;
  color: aliceblue;
  padding: 8px 12px;
}
.edit:hover {
  font-size: 32px;
  color: aliceblue;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 276px;
  background-color: #f89add;
  padding: 30px 40px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  border: black 2px solid;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  color: #000000;
  font-size: 16px;
  background-color: #f89add;
  border-bottom: #000000 2px solid;
}

input:focus {
  box-shadow: none;
  outline: none;
}

input::placeholder {
  color: #8b557c;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background-color: #000000;
  color: #f89add;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #f89add;
  color: #000000;
  border: #000000 2px solid;
  padding: 8px;
}

.list {
  margin: auto;
  width: 320px;
  list-style-type: none;
}

.row {
  display: flex;
}

.calc {
  background-color: #f89add;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 360px;
  margin-top: 7%;
  border: #000000 2px solid;
}

.scroll {
  max-height: 360px;
  overflow-y: scroll;
}

.title {
  margin-bottom: 40px;
}
